

<!-- <link rel="stylesheet" href="app.css" /> -->
<!doctype html>
<html lang="en" ng-app="app" >
  <head>
    <meta charset="utf-8">
    <title>Submit</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.min.js"></script>
     <!--<script src="bower_components/angular/angular.js"></script>-->
    <script src="submit.js"></script>
  </head>
  <body>
    <lu>
  <a href='../results/results.html'> Results</a>
   <a href='../attempts/attempts.html'> Attempts</a>
      <p>ОТПРАВИТЬ</p>
    </lu>
<div ng-app="app" ng-controller="taskCtrl">
    <p>Задача</p>
    <select ng-model="problem" > 
      <option ng-repeat="el in problemList" value="{{el}}">{{el}}</option>
    </select>

    <p>Язык</p>
    <select ng-model="languages" > 
      <option ng-repeat="el in languageList" value="{{el}}">{{el}}</option>
    </select>
<br>
<br>
<input ng-model="selectFile"
       onchange="angular.element(this).scope().file_changed(this)"
       type="file" accept="*" />


<br>
  <button ng-click="submitClick()">Отправить</button>
</div>
</body>
</html>
