
<!-- <link rel="stylesheet" href="app.css" /> -->
<!doctype html>
<html lang="en" ng-app="app" >
  <head>
    <meta charset="utf-8">
    <title>Submit</title>
  </head>
  <body>
    <lu>
  <a href='../results/results.html'> Results</a>
   <a href='../attempts/attempts.html'> Attempts</a>
      <p>ОТПРАВИТЬ</p>
    </lu>
<div ng-app="app" ng-controller="taskCtrl">
 
<!-- <br>
<br> -->
<!-- <input ng-model="selectFile"
       onchange="angular.element(this).scope().file_changed(this)"
       type="file" accept="*" /> -->
 
 
<!-- <br>
  <button ng-click="submitClick()">Отправить</button>
</div> -->
 
<!-- <br> -->
 
<form action="http://localhost:8080/submit"
 method='post' enctype='multipart/form-data'>
  <p>Задача</p>
    <select name = "problem" id = "problem"> 
      <option value = "A">A</option>
      <option value = "B">B</option>
      <option value = "C">C</option>
    </select>
  <p>Язык</p>
    <select ng-model="languages" name = "language"> 
      <option value = "Java">Java</option>
      <option value = "C++">C++</option>
      <option value = "OCaml">OCaml</option>
    </select>
    <br>
    <br>
  <input type='file' name='uploaded_file'>
  <br>
  <br>
  <button>Submit</button>
</form>
 
</body>
</html>
 
